body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(49, 49, 49);
}

a {
  text-decoration: none;
  color: inherit;
}

.red-button {
  background-color: red;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.red-button:hover {
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.451);
}